/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200");
html, body{
    font-size: 100%;
	font-family: 'Yanone Kaffeesatz';
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:18px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Yanone Kaffeesatz';
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3layouts_mail_grid_left2 a,.w3agile_similar_post_left ul li a,.w3agile_similar_post_left h4 a,.w3l_categories ul li a,.agileits_recent_posts_gridr h4 a,.agileits_recent_posts_gridr ul li a,.w3agile_blog_left_grid_r ul li a,.w3ls_choose_us_right ul li a,.agileinfo_services_grid1 h4,.agileinfo_services_grid1_pos,.w3agile_footer_grid_left a,.agileinfo_footer_bot_right p a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*-- banner --*/
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:730px;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:darkcyan;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding: 2em 0 0 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    height: 44px;
    padding: 0;
    font-size: 1.1em;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 35px;
    position: relative;
}
/*--
.navbar-brand:after{
	content: '';
    background: url(../images/1.png) no-repeat 0px 0px;
    width: 40px;
    height: 94px;
    position: absolute;
    right: 2%;
    top: 0%;
    transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg); --*/
}
.navbar-brand span {
    color:#00ffbe;
	letter-spacing: 15px;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color: darkcyan;
}
/*-- nav-effect --*/
.menu__list {
	position: relative;
	margin: 0.8em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.5em;
}

.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:darkcyan;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid darkcyan;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*-- //nav-effect --*/
.agileits-contact-info {
    float: left;
}
.agileits-contact-info ul li {
    display: inline-block;
    font-size: 18px;
	color:#fff;
}
.agileits-contact-info ul li span {
    margin-right: 10px;
    color: darkcyan;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 25px;
}
.agileits-contact-info ul li a {
    color: #fff;
    vertical-align: text-bottom;
}
.agileits-contact-info ul li a:hover {
    color: #fff;
}
.w3_agileits_social_media{
	float:right;
}
.w3_agileits_social_media ul li{
	display: inline-block;
    font-weight: 600;
    margin: 0 1em;
}
.w3_agileits_social_media ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
}
.agileinfo_share{
    margin-right: 1em !important;
	color:#fff;
}
.w3_agileits_social_media ul li a.wthree_facebook:hover{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter:hover{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble:hover{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_behance:hover{
	color:#1769ff;
}
.w3l_banner_info{
	width: 90%;
    margin: 11em auto 0;
	text-align:center;
}
.agile-header {
    padding: 20px 0;
    border-bottom:1px solid #7b7b7d;
}
.wthree_banner_info_grid h4 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    /*text-decoration: line-through;*/
	letter-spacing: 2px;
}
.wthree_banner_info_grid h3{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin:20px 0;
	letter-spacing: 2px;
}
.wthree_banner_info_grid h5 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    /*text-decoration: line-through;*/
	letter-spacing: 2px;
}
/*-- //banner --*/
/*-- welcome --*/
.welcome {
    padding: 6em 0;
    background-color: black;
}
.welcome-top{
	text-align:center;
}
.welcome-top h4 {
    font-size: 22px;
    margin: 0.7em 0 0;
    color: #666;
   font-weight:600;
}
.welcome-top p {
    font-size: 20px;
    line-height: 28px;

    margin: 1em auto;
    width: 70%;
    text-align: justify;
    color: white;
}

.welcome-top a {
      color: darkcyan;
}
.charitys{
	margin-top:3em;
}
.chrt_grid{
	text-align:center;
}
.chrt_grid .icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 2px solid darkcyan;
}
.chrt_grid .icon img {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.chrt_grid .icon:before {
  content: '';
  width: 102%;
  height: 102%;
  border-radius: 50%;
  background: darkcyan;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.chrt_grid:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.chrt_grid:hover .icon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.glyphicon-heart,.glyphicon-asterisk,.glyphicon-flag{
	color:#212121;
  font-size:35px;
}
.glyphicon-icon {
    position: relative;
  top: 26px;
  display: block;
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
}
.chrty h3 {
    font-size: 22px;
    color: darkcyan;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 22px;
}
.chrty p {
    font-size: 20px;
    line-height: 28px;
    color: white;
	padding-top: 16px;
}
.banner-grid1 h5 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: darkcyan;
    letter-spacing: 2px;
}
.banner-grid1 p {
    font-size: 18px;
    line-height: 28px;
    color: white;
    padding-top: 16px;
    text-align: justify;
}
.banner-grids {
    margin-top: 6em;
}
/*-- //welcome --*/
/*--client--*/
.client {
    background:url(../images/client.jpg) center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding:6em 0;
    text-align: center;
}
.quotes img {
    width: 100%;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
p.w3l {
    font-size: 20px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
	line-height: 28px;
}

}
.w3l a{

    color: darkcyan !important;

}
.de_testi_by,.de_testi_by a{
	color: #2ad2c9;
    font-size:1em;
    margin: 17px 0 0 0;
}
.de_testi {
    margin: 0;
    border: none;
    padding: 3em 3em;
    background: rgba(0, 0, 0, 0.73);
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
    text-align: left;
    color: #fff;
    font-size: 0.9em;
}
.quotes {
    float: left;
    width:15%;
	margin-top: 1em;
}
.de_testi_by{
	float: right;
	width:78%;
}
.de_testi_by p {
    color: #fff;
    font-size:1.3em;
    font-weight: 400;
    line-height: 2em;
    text-align: justify;
}
.customer-say {
    margin-top:5em;
}
/*-- what --*/
.what-left {
    float: left;
    width: 15%;
    text-align: center;
}
.what-right {
    float: right;
    width: 83%;
}
.what-grid1 h4,.what-grid h4 {
    font-size: 22px;
    color: darkcyan;
    letter-spacing: 2px;
    font-weight: 600;
}
.what-w3ls {
    padding: 6em 0;
    background-color: black;
}
.what-grids {
    margin-top: 6em;
}
.what-grid1 p,.what-grid p {
    font-size: 20px;
    color: white;
    line-height: 28px;
    padding-top: 10px;
    text-align: justify;
}
.what-grid1 i {
    height: 60px;
    width: 60px;
    margin: 3px;
    font-size: 1.5em;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background: darkcyan;
    color: #fff;
}
.what-top1 {
    margin: 2em 0;
}
.w3ls_head {
    font-size: 36px;
    color: darkcyan;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.what-grid {
    padding-right: 130px;
}
.what-agile-info {
    margin-top: 30px;
    border-left: 3px solid darkcyan;
    padding: 0 0px 0 20px;
}
p.w3agile {
    font-size: 20px;
    color: white;
    width: 70%;
    margin: 0 auto;
	line-height: 28px;
	text-align: justify;
}
/*-- //what --*/
/*-- footer --*/
.footer {
    background: url(../images/footer.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding:5em 0;
}
.footer h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
	letter-spacing: 2px;
}
.footer li,.footer li a{
    display: block;
    color: #c3c3c3;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}
.footer li a:hover{
    color: darkcyan;
}
.newsletter {
    position: relative;
    width: 78%;
}
.newsletter .email {
	padding: 5px 60px 5px 15px;
	border-radius: 3px;
	-Webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 40px;
	border: 1px solid #fff;
	width: 100%;
	text-align: left;
}
.newsletter .email {
	background-color:#F4F4F4;
	border: none;
}
.newsletter .submit {
	width: 40px;
	height: 40px;
	background-image: url('../images/subscribe.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-color: darkcyan;
	top: 0;
	right: 0;
	outline:none;
	border: none;
}
/*-- //Newsletter --*/
.w3ls-social-icons i, .w3ls-social i {
    font-size: 15px;
    background: #fff;
    padding: 12px 14px;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.w3ls-social-icons i:hover,.w3ls-social i:hover {
	background: transparent;
	background:darkcyan;
	color:#fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.footer-w3-agile {
    margin: 60px 0 0;
}
.footer-agile span {
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}
.footer-agile p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}
.footer-agile {
    margin-top: 40px;
}
.copy-right-agile {
    margin-top: 40px;
}
.copy-right-agile p {
	font-size:18px;
    color: #fff;
    margin: 0;
}
.copy-right-agile p a {
    text-decoration: none;
    color: darkcyan;
}
.copy-right-agile p a:hover{
    text-decoration: none;
    color: #fff;
}
.footer-w3-1 {
    padding: 0;
}
.footer-w3l-1 {
    padding: 0;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 9999; 
	width: 32px;
	height: 28px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat -3px 3px;
}
#toTopHover {
	width: 32px;
	height: 28px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #212121 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 1em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #212121;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
/*-- portfolio --*/
.view {
   width: 275px;
    height: 200px;
    margin: 5px;
    float: left;
    border:5px solid #F1F0F0;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff;
}
.view .mask,.view .content {
   width: 275px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background:#212121;
   margin: 20px 0 0 0;
}
.view p {
	font-style: normal;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 15px 10px 15px;
    text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-seventh .mask {
   background-color:rgb(6, 201, 212);
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
.view-seventh h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
.view-seventh:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.main:nth-child(3) {
    margin: 3em 0 0;
}
/*-- //portfolio --*/
.portfolio {
    padding: 5em 0;
}
.portfolio-agile {
    margin-top: 5em;
}
/*--contact--*/
.contact-right-w3-agile form {
    margin-top: 12px;
    color: #777;
}
.contact-right-w3-agile input[type="text"] {
    background: transparent;
    border: 2px solid #212121;
    padding: 8px 22px;
    width: 49.42%;
    outline: none;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.contact-right-w3-agile input[type="text"]:hover {
	border-color:darkcyan;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.contact-right-w3-agile input[type="text"]:nth-child(1) {
    margin-right: 8px;
}
.contact-right-w3-agile textarea {
    background: none;
    border: 2px solid #212121;
    padding: 10px 23px;
    margin-top: 24px;
    outline: none;
    resize: none;
    width: 100%;
	height: 230px;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.contact-right-w3-agile textarea:hover {
	border-color:darkcyan;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.contact-right-w3-agile form input[type="submit"] {
    color: #fff;
    font-size: 17px;
    padding: 4px 0px;
    margin-top: 25px;
    width: 15%;
    background: #212121;
    border: 2px solid #212121;
    outline: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contact-right-w3-agile form input[type="submit"]:hover {
	color:#fff;
	background:darkcyan;
	border: 2px solid darkcyan;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.contact-right-w3-agile label {
    width: 30px;
    height: 4px;
    background: #62A0EC;
    display: block;
    margin: 0px 30px 35px 0px;
}
.contact {
    padding: 5em 0;
}
.contact-right-w3-agile {
    margin-top: 5em;
}
.map iframe {
    width: 100%;
    border: none;
    min-height: 400px;
}
/*--contact--*/
/*-- services --*/
.agileits_w3layouts_service_grid{
	width: 150px;
    height: 150px;
    background: #34b3f5;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
	box-shadow: 0px 4px 5px #2285b9;
}
.agile_services_grid:hover .agileits_w3layouts_service_grid{
	background:darkcyan;
	box-shadow:0px 4px 5px darkcyan;
}
.w3_agileits_service_grid{
    border: 4px double #fff;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.agile_services_grid:hover .w3_agileits_service_grid{
    border: 4px double #212121;
}
.agileits_w3layouts_service_grid i{
	font-size: 2em;
    color: #212121;
    line-height: 3.4em;
}
.agile_services_grid:hover .agileits_w3layouts_service_grid i{
	color:#fff;
}
.agileits_w3layouts_service_grid span{
	width: 5px;
    height: 5px;
    background:darkcyan;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}
.agile_services_grid:hover .agileits_w3layouts_service_grid span{
	background:#212121;
}
.agile_services_grid{
	text-align:center;
}
.agile_services_grid h4 {
    font-size: 22px;
    color: #212121;
    letter-spacing: 2px;
    margin: 1.5em 0 1em;
    text-transform: capitalize;
    line-height: 1.5em;
}
.agile_services_grid p{
	color:#999;
	line-height:2em;
	margin-bottom:2.5em;
}
.wthree_more a{
	padding: 8px 35px;
    border: 3px double #999;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
	text-decoration:none;
}
.wthree_more a:focus{
	outline:none;
}
.wthree_more a:hover{
	border-color:darkcyan;
}
.services {
    padding: 5em 0;
}
p.w3layouts_para {
    text-align: center;
    width: 41%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 28px;
}
.agile_banner_bottom_grids {
    margin-top: 5em;
}
/*-- //services --*/
/*-- services-bottom --*/
.services-bottom {
    background: url(../images/client.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	padding:6em 0;
}
.services-bottom h3{
	text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    line-height: 1.5em;
    color: #fff;
}
.services-bottom h3 i{
	color:darkcyan;
	padding-right:1em;
}
/*-- //services-bottom --*/
/*-- choose --*/
.choose{
	padding:5em 0;
}
.w3ls_choose_left_grid{
	width: 80px;
    height: 80px;
    background: #f5f5f5;
    border-radius: 100px;
    text-align: center;
	border: 3px double #999;
}
.w3ls_choose_left_grid i{
	font-size: 1.5em;
    color: #212121;
    line-height:3em;
}
.agileits_choose_right h4 {
    font-size: 22PX;
    color: #212121;
    letter-spacing: 2px;
    margin-bottom: 1em;
    text-transform: capitalize;
}
.agileits_choose_right p{
	color:#999;
	line-height:2em;
}
.w3l_choose_right_grid,.agileinfo_choose_right{
	padding:0;
}
.agileits_choose_right{
	padding-left:0;
}
.w3_choose_right_grid_main{
	margin-top:2em;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:darkcyan;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 100px;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before,.w3_choose_right_grid_main:hover .hvr-rectangle-out:before{
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*-- //choose --*/
/*-- team --*/
.w3ls_team_grid1{
	position:relative;
}
.w3ls_team_grid1_pos{
	position:absolute;
	right:0%;
	bottom:-5%;
	background: none;
}
.w3ls_team_grid1_pos ul li:nth-child(2),.w3ls_team_grid1_pos ul li:nth-child(3){
	opacity:0;
}
.w3ls_team_grid:hover .w3ls_team_grid1_pos ul li:nth-child(2),.w3ls_team_grid:hover  .w3ls_team_grid1_pos ul li:nth-child(3){
	opacity:1;
}
.w3ls_team_grid{
	text-align: center;
    position: relative;
    overflow: hidden;
}
.w3ls_team_grid h4{
	margin:2em 0 0.3em;
	color:#212121;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size: 1.1em;
}
.w3ls_team_grid p{
	color:#13b3bb;
}
/* Circle */
.hover15 figure {
	position: relative;
}
.hover15 figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15 figure:hover::before,.w3ls_team_grid:hover .hover15 figure::before,.banner-bottom-icons:hover .hover15 figure::before,.w3_featured_services_grid:hover .hover15 figure::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
/*-- social-icons --*/
ul.social-icons li {
    display: inline-block;
}
.icon {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
	width: 30px;
	height: 30px;
	font-family: 'Yanone Kaffeesatz';
	font-size:1em;
	color:#fff;
	text-align:center;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
}
.icon-border {
	position: relative;
}

.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	line-height: 2.2em;
}

.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}

.icon-border::after {
	z-index: 2;
}

/* facebook */
.icon-border.facebook::before {
	box-shadow:inset 0 0 0 48px darkcyan;
}

.icon-border.facebook:hover::before {
	box-shadow:inset 0 0 0 2px #3b5998;
}

.icon-border.facebook::after {
	content:"\f09a";
}
.icon-border.facebook:hover::after {
	color:#3b5998;
}

/* twitter */
.icon-border.twitter::before {
	box-shadow:inset 0 0 0 48px darkcyan;
}

.icon-border.twitter:hover::before {
	box-shadow:inset 0 0 0 2px #1da1f2;
}

.icon-border.twitter::after {
	content:"\f099";
}
.icon-border.twitter:hover::after {
	color:#1da1f2;
}

/* instagram */
.icon-border.instagram::before {
	box-shadow: inset 0 0 0 48px darkcyan;
}

.icon-border.instagram:hover::before {
	box-shadow: inset 0 0 0 2px #833ab4;
}

.icon-border.instagram::after {
	content: "\f16d";
}
.icon-border.instagram:hover::after {
	color:#833ab4;
}

/* pinterest */
.icon-border.pinterest::before {
	box-shadow: inset 0 0 0 48px darkcyan;
}

.icon-border.pinterest:hover::before {
	box-shadow: inset 0 0 0 2px #bd081c;
}

.icon-border.pinterest::after {
	content: "\f231";
}
.icon-border.pinterest:hover::after {
	color:#bd081c;
}
/*-- //social-icons --*/
.team {
    padding: 5em 0;
}
.w3_services_grids {
    margin-top: 5em;
}
/*-- //team --*/
/*-- courses --*/
.wthree_banner1_info{
	margin: 8em 0 0;
    text-align: right;
}
.wthree_banner1_info h3{
	font-size:2em;
	color:#fff;
}
.wthree_banner1_info h3 span{
	color:#ec9114;
}
.agileinfo_courses_flipster{
	width:70%;
	margin:0 auto;
}
.w3ls_courses_left {
    padding: 0 3em 0 0;
}
.w3ls_courses_left_grid h3 {
    font-size: 22px;
    color: #212121;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.w3ls_courses_left_grid h3 i{
	color:darkcyan;
	padding-right:1em;
}
.w3ls_courses_left_grid p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.w3ls_courses_left_grid{
	padding-top:2em;
}
.w3ls_courses_right p{
	margin-bottom:2em !important;
}
.agileits_courses_right img{
	margin:0 auto;
}
.courses {
    padding: 5em 0;
}
/*-- //courses --*/
.agileits_w3layouts_team_grids.w3ls_courses_grids {
    margin-top: 5em;
}
/*-----start-responsive-design------*/
@media (max-width:1440px){
}
@media (max-width:1366px){
.banner {
	min-height: 610px;
}
}
@media (max-width:1280px){
}
@media (max-width:1080px){
.navbar-nav > li > a {
    padding: 0 1em;
}
.contact-right-w3-agile input[type="text"] {
    width: 49.3%;
}
.view {
    width: 303px;
    height: 200px;
}
.view .mask, .view .content {
    width: 303px;
    height: 200px;
}
}
@media (max-width:1024px){
}
@media (max-width:991px){
p.w3layouts_para {
    width: 67%;
}
.contact-right-w3-agile input[type="text"] {
    width: 49.1%;
}
.contact {
    padding: 3em 0;
}
.contact-right-w3-agile {
    margin-top: 3em;
}
.footer-agileits-w3layouts {
    float: left;
    width: 25%;
}
.footer-w3-agileits {
    float: left;
    width: 25%;
}
.footer-wthree {
    float: left;
    width: 25%;
}
.footer-agileits {
    float: left;
    width: 25%;
}
.footer h3 {
    font-size: 26px;
}
.footer {
    padding: 3em 0;
}
.footer-w3-1 {
    float: left;
    width: 50%;
}
.footer-w3l-1 {
    float: left;
    width: 50%;
}
.w3l-footer-top {
    float: left;
    width: 70%;
}
.w3ls-social-icons {
    float: left;
    width: 30%;
}
.navbar-nav > li > a {
    padding: 0 0.7em;
}
.menu--iris .menu__item {
    margin: 0 0.2em;
}
.menu__link {
    font-size: 0.9em;
}
.wthree_banner_info_grid h3 {
    font-size: 27px;
}
.wthree_banner_info_grid h5 {
    font-size: 24px;
}
.wthree_banner_info_grid h4 {
    font-size: 24px;
}
.banner {
    min-height: 540px;
}
.welcome-top p {
    width: 100%;
}
.chrt_grid {
    margin-bottom: 2em;
}
.banner-grid1 {
    margin-bottom: 2em;
}
p.w3l {
    width: 100%;
}
.customer-grid {
    margin-bottom: 2em;
}
p.w3agile {
    width: 100%;
}
.what-grid {
    padding-right: 0;
    margin-bottom: 2em;
}
p.w3layouts_para {
    width: 100%;
}
.w3ls_courses_left {
    padding: 0 0em 0 0;
}
.agileits_courses_right {
    padding: 0;
	margin-top: 26px;
}
.agileits_courses_right img {
    width: 100%;
}
.w3ls_team_grid {
    float: left;
    width: 50%;
    margin-bottom: 30px;
}
.view {
    width: 230px;
    height: 200px;
}
.view .mask, .view .content {
   width: 230px;
    height: 200px;
}
.w3l_choose_right_grid {
    float: left;
    width: 50%;
}
.w3l_choose_right_grid, .agileinfo_choose_right {
    padding: 0;
    margin-top: 20px;
}
}
@media (max-width:800px){
.banner {
	min-height: 435px;
}
}
@media (max-width:768px){
	.w3l_banner_info {
    margin: 7em auto 0;
}
.welcome {
    padding: 3em 0;
}
.banner-grids {
    margin-top: 2em;
}
.client {
    padding: 3em 0;
}
.customer-say {
    margin-top: 3em;
}
.what-w3ls {
    padding: 3em 0;
}
.what-grids {
    margin-top: 3em;
}
.courses {
    padding: 3em 0;
}
.agileits_w3layouts_team_grids.w3ls_courses_grids {
    margin-top: 2em;
}
.team {
    padding: 3em 0 1em;
}
.w3_services_grids {
    margin-top: 3em;
}
.portfolio-agile {
    margin-top: 3em;
}
.portfolio {
    padding: 3em 0;
}
.services {
    padding: 3em 0;
}
.agile_banner_bottom_grids {
    margin-top: 3em;
}
.services-bottom h3 {
    font-size: 1.8em;
}
.choose {
    padding: 3em 0;
}
}
@media (max-width:767px){
.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-toggle {
	margin:0em 0 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.81);
	z-index: 999;
}
.link-effect-3 a {
	margin: 0;
}
.navbar-right {
	margin-left: 0;
}
.navbar-nav > li > a {
	padding: 20px 0 0;
	text-align: center;
	font-size: 13px;
}
.link-effect-3 a::before {
	width: 10%;
	top: 29px;
	left: 34%;
}
.navbar-nav {
	margin: 0 0 20px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: darkcyan ! important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff ! important;
}
}
@media (max-width: 736px){
.banner1 {
    min-height: 230px;
}
.view {
    width: 219px;
    height: 200px;
}
.view .mask, .view .content {
    width: 219px;
    height: 200px;
}
}
@media (max-width: 667px){
.contact-right-w3-agile input[type="text"] {
}
.w3l-footer-top {
    width: 66%;
}
.w3ls-social-icons {
    width: 34%;
}
.footer h3 {
    font-size: 18px;
}
.view {
    width: 196px;
    height: 200px;
}
.view .mask, .view .content {
    width: 196px;
    height: 200px;
}
}
@media (max-width: 640px){
.contact-right-w3-agile input[type="text"]:nth-child(1) {
    margin-right: 0;
    margin-bottom: 24px;
}
.contact-right-w3-agile input[type="text"] {
    width: 100%;
}
.w3l-footer-top {
    width: 65%;
}
.w3ls-social-icons {
    width: 35%;
}
.footer-w3-agile {
    margin: 40px 0 0;
}
.wthree_banner_info_grid h3 {
    font-size: 22px;
}
.wthree_banner_info_grid h4 {
    font-size: 20px;
}
.wthree_banner_info_grid h5 {
    font-size: 20px;
}
.w3ls_head {
    font-size: 30px;
}
.chrty h3 {
    font-size: 20px;
}
.banner-grid1 h5 {
    font-size: 17px;
    line-height: 28px;
}
.de_testi {
    padding: 2em 2em;
}
.what-grid1 h4, .what-grid h4 {
    font-size: 20px;
}
.view {
    width: 286px;
    height: 200px;
}
.view .mask, .view .content {
    width: 286px;
    height: 200px;
}
.w3l_choose_right_grid {
    float: left;
    width: 70%;
}
}
@media (max-width: 600px){
p.w3layouts_para {
    width: 80%;
}
.footer-agileits {
    width: 50%;
	margin-bottom:20px;
}
.footer-wthree {
	width: 50%;
	margin-bottom:20px;
}
.footer-w3-agileits {
    width: 50%;
}
.footer-agileits-w3layouts {
    width: 50%;
}
.w3ls-social-icons {
    width: 100%;
	margin-top: 28px;
}
.w3l-footer-top {
    width: 100%;
}
.view {
    width: 266px;
    height: 200px;
}
.view .mask, .view .content {
    width: 266px;
    height: 200px;
}
.w3l_choose_right_grid {
    width: 81%;
}
..services-bottom h3 {
    font-size: 1.5em;
}
}
@media (max-width: 568px){
.view {
    width: 250px;
    height: 200px;
}
.view .mask, .view .content {
    width: 250px;
    height: 200px;
}
}
@media (max-width: 480px){
.what-grid1 p, .what-grid p {
    font-size: 13px;
    line-height: 26px;
}
.what-grid1 h4, .what-grid h4 {
    font-size: 19px;
}
.what-w3ls {
    padding: 3em 0 1em;
}
.de_testi_by p {
    font-size: 13px;
}
p.w3agile {
    font-size: 18px;
    color: white;
}
p.w3l {
    font-size: 13px;
}
.banner-grid1 p {
    font-size: 13px;
}
.chrty p {
    font-size: 13px;
}
.welcome-top p {
    font-size: 13px;
}
.wthree_banner_info_grid h3 {
    font-size: 17px;
}
.wthree_banner_info_grid h4 {
    font-size: 17px;
}
.wthree_banner_info_grid h5 {
    font-size: 17px;
}
.w3l_banner_info {
    margin: 5em auto 0;
}
.w3_agileits_social_media ul li {
    margin: 0 0.3em;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 7px;
}
.agile-header {
    padding: 14px 0;
}
.banner {
    min-height: 370px;
}
nav.navbar.navbar-default {
    padding: 1em 0 0 0;
}
.w3ls_courses_left_grid h3 {
    font-size: 18px;
    letter-spacing: 1px;
}
.w3ls_team_grid h4 {
    font-size: 1em;
}
.alert, p {
    font-size: 13px;
}
p.w3layouts_para {
    font-size: 13px;
}
.view {
    width: 206px;
    height: 200px;
}
.view .mask, .view .content {
    width: 206px;
    height: 200px;
}
.w3l_choose_right_grid {
    width: 100%;
}
.contact-right-w3-agile form input[type="submit"] {
    width: 31%;
}
}
@media (max-width: 414px){
.text-right {
    text-align: center;
}
.agileits-contact-info {
    width: 100%;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 85px;
}
.w3_agileits_social_media {
    margin-top: 10px;
}
.wthree_banner_info_grid h3 {
    font-size: 14px;
}
.wthree_banner_info_grid h4 {
    font-size: 13px;
}
.banner {
    min-height: 350px;
}
.wthree_banner_info_grid h5 {
    font-size: 13px;
}
.quotes {
    float: none;
    width: 100%;
	 padding: 0 5em;
}
.de_testi_by {
    float: none;
    width: 100%;
    text-align: center;
}
.what-grid1 i {
    height: 42px;
    width: 42px;
    line-height: 45px;
}
.copy-right-agile p {
    font-size: 13px;
}
.footer li, .footer li a {
    font-size: 13px;
}
.footer-agile p {
    font-size: 13px;
}
p.w3layouts_para {
    width: 100%;
}
.view {
    width: 173px;
    height: 200px;
}
.view .mask, .view .content {
    width: 173px;
    height: 200px;
}
.services-bottom h3 {
    font-size: 1.3em;
}
.agileits_choose_right h4 {
    font-size: 18PX;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}
}
@media (max-width: 384px){
.wthree_banner_info_grid h3 {
    line-height: 20px;
	 margin: 12px 0;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 62px;
}
.view p {
    font-size: 13px;
}
.view {
    width: 158px;
    height: 200px;
}
.view .mask, .view .content {
    width: 158px;
    height: 200px;
}
}
@media (max-width: 375px){
	.agileits-contact-info ul li:nth-child(2) {
    margin-left: 55px;
}
.view {
    width: 154px;
    height: 200px;
}
.view .mask, .view .content {
    width: 154px;
    height: 200px;
}
}
@media (max-width: 320px){
	.agileits-contact-info ul li:nth-child(2) {
    margin-left: 19px;
}
.agileits-contact-info ul li {
    font-size: 13px;
}
.welcome {
    padding: 2em 0;
}
.w3ls_head {
    font-size: 26px;
}
.charitys {
    margin-top: 2em;
}
.chrt_grid {
    margin-bottom: 2em;
    padding: 0;
}
.banner-grid1 {
    padding: 0;
}
.banner-grids {
    margin-top: 0em;
}
.banner-grid {
    padding: 0;
}
.client {
    padding: 2em 0;
}
.customer-say {
    margin-top: 2em;
}
.quotes {
    padding: 0 1em;
}
.what-grid1 {
    padding: 0;
}
.what-grid1 h4, .what-grid h4 {
    font-size: 17px;
}
.what-grid1 i {
    height: 37px;
    width: 37px;
    line-height: 37px;
	font-size: 1.2em;
}
.what-grid {
    padding: 0;
}
.footer-agileits {
    width: 100%;
    padding: 0;
}
.footer-wthree {
    width: 100%;
    padding: 0;
}
.footer-w3-agileits {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.footer-agileits-w3layouts {
    width: 100%;
    padding: 0;
}
.w3l-footer-top {
    width: 100%;
    padding: 0;
}
.footer-w3-agile {
    margin: 26px 0 0;
}
.w3ls-social-icons {
    width: 100%;
    padding: 0;
}
.copy-right-agile {
    margin-top: 26px;
    text-align: center;
}
.footer {
    padding: 2em 0;
}
.copy-right-agile p {
    line-height: 24px;
}
.newsletter {
    width: 100%;
}
.banner1 {
    min-height: 200px;
}
.courses {
    padding: 2em 0;
}
.agileits_w3layouts_team_grids.w3ls_courses_grids {
    margin-top: 0em;
}
.w3ls_courses_left_grid h3 {
    font-size: 16px;
}
.w3ls_team_grid {
    width: 100%;
}
.w3ls_team_grid {
    padding: 0;
}
.w3_services_grids {
    margin-top: 2em;
}
.navbar-brand {
    font-size: 0.9em;
}
.portfolio {
    padding: 2em 0;
}
.view {
    width: 263px;
    height: 200px;
}
.view .mask, .view .content {
    width: 263px;
    height: 200px;
}
.portfolio-agile {
    margin-top: 2em;
}
.services {
    padding: 2em 0;
}
.agile_banner_bottom_grids {
    margin-top: 2em;
}
.agile_services_grid {
    text-align: center;
    padding: 0;
} 
.choose {
    padding: 2em 0;
}
.agileinfo_choose_left {
    padding: 0;
}
.agileits_choose_right h4 {
    font-size: 16PX;
    margin-bottom: 0.5em;
}
.w3ls_choose_left_grid i {
    font-size: 1.5em;
    line-height: 2.5em;
}
.w3ls_choose_left_grid {
    width: 70px;
    height: 70px;
}
.agileits_choose_right {
    padding: 0;
}
.agileits_choose_left {
    padding-left: 0;
}
.contact {
    padding: 2em 0;
}
.map iframe {
    min-height: 250px;
}
}


.container h1 {
    color: darkcyan;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 3em;
}
.container h2{
    color: darkcyan;
    padding: 20px 0px 0px 0px;
}
.container p{
     color: white;
     text-align: justify;
 }
.container h3{
    color: darkcyan;
    padding: 20px 0px 0px 0px;
}

.container h4{
    color: darkcyan;
    padding: 20px 0px 0px 0px;
    text-decoration: underline;
}
.container ul {
    padding: 10px 0px 0px 0px;

}
.table-striped td , tr, th{
    color: black !important;
    font-size: 20px;

}
.formgoup{
    width: 100%;
    padding: 5px;
    margin: 5px;
}